doctype 5
html
  head
    title Choropleth
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/3rdparty/mapbox-v1-3-1.css')
  body
    h1 Choropleth Sample

    #map-container
      #map

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type="text/javascript")
    script(src='/javascripts/3rdparty/d3-v3.js', type='text/javascript')
    script(src='/javascripts/3rdparty/topojson-v1.js', type='text/javascript')
    script(src='/javascripts/3rdparty/mapbox-v1-3-1.js', type='text/javascript')
    script(src="/javascripts/index.js", type="text/javascript")
